h1{
	color: black;
	margin-bottom: 15px;
	text-align: center; 
}
.row{
	margin-bottom: 15px;
    padding: 15px;
    border:border-box; 
}
.firstRow{
	padding-bottom: 0;
	margin-bottom: 0;
}
.secondRow{
	padding-top: 0;
	margin-top: 0;
}
.row > div {

	float: right;
}
.p1{
	font-size: 100%;
	background-color: gray;
}
.p2{
	font-size: 100%;
	background-color: gray;
	
}
.p3{
	font-size: 100%;
	background-color: gray;
	height: 300
}
.p1Heading{
	background-color: pink;
	float: right;
	width: 30%;
}
.p2heading{
	background-color: red;
	float: right;
}
.p3heading{
	background-color: yellow;
    width: 30%;
    margin-left:70%;
    text-align: right;

}
.p3parent{
	background-color: grey;
}

